<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a routerLink="taskpost" mat-list-item href="#" *ngIf="isAuthenticated">Post Task</a>
      <a routerLink="tasklist" mat-list-item href="#" *ngIf="isAuthenticated">Tasks</a>
      <a routerLink="register" mat-list-item href="#">User registration</a>
      <a routerLink="login" mat-list-item href="#" *ngIf="!isAuthenticated">Login</a>
      <a (click)="onLogout()" mat-list-item href="#" *ngIf="isAuthenticated">Log Out</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="outerdiv">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Flow Task Manager</span>
    </mat-toolbar>
    <div class="valami">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
