<div>
  <table >
    <tr>
      <th>Type: {{task.type}}</th>
      <th>Title: {{task.title}}</th>
      <th>Difficulty: {{task.difficulty}}</th>
    </tr>
    <tr>
      <td colspan="3">{{ task.content }}</td>
    </tr>
    <tfoot>
      <tr>
        <td >Created at: {{ task.createdAt }}</td>
        <td *ngIf="task.updatedAt != null">Updated at: {{ task.updatedAt }}</td>
        <td >Posted by: {{ task.mentorName }}</td>
        <td >Rating: {{ getRating(task) }}</td>
      </tr>
    </tfoot>
    <button routerLink="/postSolution">Add a solution</button>
  </table >
  <app-post-list [task]="task"></app-post-list>
</div>
<hr>
