<div>
  <table >
    <tr>
      <th>Type: {{task.type}}</th>
      <th>Title: {{task.title}}</th>
      <th>Difficulty: {{task.difficulty}}</th>
    </tr>
    <tr>
      <td colspan="3">{{ task.content }}</td>
    </tr>
    <tfoot>
      <tr>
        <td >Created at: {{ task.createdAt }}</td>
        <td *ngIf="task.updatedAt != null">Updated at: {{ task.updatedAt }}</td>
        <td >Posted by: {{ task.mentorName }}</td>
        <td >Rating: {{ getRating(task) }}</td>
      </tr>
    </tfoot>
    <button (click)="navigate('postSolution', task.id)">Add a solution</button>
    Rating:
  <!--  <select [(ngModel)] = "rating" >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit" [disabled]="ratingButton" (click)="rate()">Rate</button> -->
  </table >
  <app-post-list [task]="task"></app-post-list>
</div>
<hr>
