table {
  margin-bottom: 20px;
  width:650px;
  height:150px;
  background-color: rgb(157, 187, 252);
  top:50%;
  left:40%;
} 

table, th, td {
  border: 1px solid black;
}

.outertable {
  background-color: rgb(250, 228, 103);
  margin: auto;
}

.outerdiv {
  background-image: url("https://www.flowacademy.hu/img/Flow%20Academy%20logo_colorful.jpg");
  background-size: auto;
}