<!-- <form (ngSubmit)="onSubmit()" #userpost="ngForm">
  <div class="example-container">
    <mat-select 
    placeholder="Role"
    [(ngModel)]="role"
    name="roleInput">
      <mat-option value="MENTOR">Mentor</mat-option>
      <mat-option value="STUDENT">Student</mat-option>
    </mat-select>
<br>
    <mat-form-field>
      <textarea 
      matInput placeholder="Username"
      [(ngModel)]="userName"
      name="userNameInput"
      required></textarea>
    </mat-form-field>
<br>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" 
      [(ngModel)]="password"
      name="passwordInput"
      required/>
    </mat-form-field>
<br>
    <mat-form-field>
      <input matInput placeholder="Firstname" 
      [(ngModel)]="firstName"
      name="firstNameInput"
      required/>
    </mat-form-field>
<br>
    <mat-form-field>
      <input matInput placeholder="Lastname" 
      [(ngModel)]="lastName"
      name="lastNameInput"
      required/>
    </mat-form-field>
<br>
    <mat-form-field>
      <input matInput placeholder="Date of birth" 
      [(ngModel)]="dateOfBirth"
      name="dateOfBirthInput"
      required/>
    </mat-form-field>

<br>
    <button [disabled]="userpost.invalid" type="submit" (ngSubmit)="onSubmit()">Submit</button>
  </div>
</form> -->

<div class="main-div">
  <h2>Registration</h2>
  <form class="example-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field class="example-full-width">
    <mat-select 
    [(ngModel)]="role"
    placeholder="Role"
    name="role">
      <mat-option value="MENTOR">Mentor</mat-option>
      <mat-option value="STUDENT">Student</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
      <input
        id="firstName"
        name="firstName"
        ngModel
        required
        matInput
        placeholder="Firstname"
        type="text">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        id="lastName"
        name="lastName"
        ngModel
        required
        matInput
        placeholder="Lastname"
        type="text">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        id="username"
        name="username"
        ngModel
        required
        matInput
        placeholder="Username"
        type="text">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        id="password"
        name="password"
        ngModel
        required  
        matInput
        placeholder="Password"
        type="password">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        id="dateOfBirth"
        name="dateOfBirth"
        ngModel
        required
        matInput
        placeholder="BirthDate"
        type="date">
    </mat-form-field>
    <br>
    <button
      mat-raised-button color="primary"
      type="submit"
      [disabled]="!authForm.valid"
      >Sign up</button>
      <br>
      <button class="button"
  mat-raised-button color="accent"
  (click)="backHome()"
  >HomePage</button>
  </form>
</div>
