<!-- <p>Registration</p>
Username : <input type="text">
<br> <br>
Password: <input type="text">
<br><br>
Firstname: <input type="text">
<br><br>
Lastname: <input type="text">
<br><br>
Date of birth: <input type="text">
<br><br>
Role: <input type="text">
<br>
<button mat-flat-button>REGISTER</button> -->
<!-- 
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" value="">
  </mat-form-field>
<br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Password"></textarea>
  </mat-form-field>
<br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Firstname"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Lastname"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Date of birth:"></textarea>
  </mat-form-field>
  <br>
</form>
 <mat-select>
  <mat-option [value]="MENTOR">
    Mentor
  </mat-option>
  <mat-option [value]="STUDENT">
    Student
  </mat-option>
</mat-select> 
<button mat-flat-button>REGISTER</button>
 -->

 <div class="main-div">
  <h2>Login Page</h2>
  <form class="example-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field class="example-full-width">
      <input
        id="username"
        name="username"
        ngModel
        required
        matInput
        placeholder="username"
        type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        id="password"
        name="password"
        ngModel
        required  
        matInput
        placeholder="password"
        type="password">
    </mat-form-field>
    <button
      mat-raised-button color="accent"
      type="submit"
      [disabled]="!authForm.valid"
      >Login</button>
      <br>
      <button class="button"
      mat-raised-button color="accent"
      (click)="backHome()"
      >HomePage
</button>
  </form>
</div>

